.file-sender {
    margin-top: 2rem;
    padding: 1rem;
}

.file-sender .list-container {
    max-height: 27vh;
    overflow-y: scroll;
}

.drag-highlight {
    border: 0.4em solid rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
}

.show-highlight {
    border-color: #000;
}

.file-sender .custom-file-input h3 {
    margin: 0;
}

.file-sender button {
    width: 10rem;
}

.file-sender .custom-file-input {
    text-align: center;
}