@media (max-width: 800px) {
    #root > .container {
        max-height: 45%;
    }

    #root > .file-sender-list {
        max-height: 50%;
    }

    .extendable .extendable {
        padding-left: 0;
        word-break: break-all;
    }
    
    .file-sender {
        padding: 0;
        margin-top: 0;
        min-height: 4rem;
    }

    .overlay {
        width: 60%;
    }
}